.code-block {
    margin:0!important;
}

#interstitial-mega-wrapper {
    display:flex;
    position:fixed;
    width: 100%;
    z-index:2147483647!important;
    top:0;
    left: 0;
    margin-left:0!important;
    height: 100%;
    flex-direction: column;
}

.adf_desctop_overlay {
    z-index: 2147483645!important;
    position: fixed;
    bottom: 0;
    border-radius: 4px;
}


.adf_desctop_overlay_ads_content {
    width: 336px;
    height: 280px;
    background: #f7f7f7;
    padding: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    border: 1px solid #C4C4C4;
    box-shadow: 0px -1px 4px rgb(0 0 0 / 48%);
}

.adfinity-overlay-peretyagka .adf_desctop_overlay_ads_content {
    width: 100vw!important;
}


.adf_desctop_overlay_topbar_leftside {
    /*display: flex;*/
    display: none;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
}

.adf_desctop_overlay_topbar_rightside {
    display: flex;
    justify-content: center;
    align-items: center;
}

.adf_desctop_overlay_topbar_rightside_text {
    color: #A3A2A2;
    font-size: 12px;
    display: none;
}

.adf_desctop_overlay_topbar_rightside_closebutton {
    width: 44px;
    height: 24px;
    background: #F7F7F7;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px 8px 0 0;
    color: #A0A0A0;
    margin-left: 9px;
    transition: 0.2s ease-in-out;
}
.adfinity-overlay-peretyagka .adf_desctop_overlay_topbar_rightside_closebutton {margin-left: 0;}

.adf_desctop_overlay_topbar_rightside_closebutton:hover {
    background: #EA4848;
    transition: 0.2s ease-in-out;
}



.adf_desctop_overlay_topbar {
    display: flex;
    justify-content: left;
}
.adfinity-overlay-peretyagka .adf_desctop_overlay_topbar {justify-content: center;}

.adf_desctop_overlay_logo {
    all: unset!important;

}
.adf-logo {
    width:90px;
    margin-left:5px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.own-intestitial-wrapper {
    z-index: 9999 !important;
    width: 100%;
    height: 100%;
    display: flex;
    position: fixed;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, .8);
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, sans-serif!important;
    font-weight: 400!important;
    line-height: normal!important;
}

.close-text {
    z-index: 9999;
    color: white;
    font-size: 14px;
    padding-top: 5px;
    padding-left: 85px;
}

#own-timer {
    width: 30px;
    background: #898989;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.own-interstitial-content {
    background: transparent;
    max-height: 90%;
    width: 90%;
    max-width: 90%;
    display: block;
    position: relative;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
}

.own-interstitial-content > div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2147483647!important;
    position: relative;
}

.adfinity-water-mark {
    z-index: 999999999;
    background: white;
}

.own-intestitial-load-progress-bar {
    width: 100%;
    height: 30px;
    display: flex;
    position: absolute;
    top:0;
    justify-content: space-between;
    background: #FFFFFF;
}

.own-intestitial-wrapper .own-intestitial-load-progress-bar{
    justify-content: right;
}

.own-intestitial-load-progress-line {
    position: absolute;
    background: #0062ff;
    top:30px;
    left: 0;
    display: flex;
    width: 0;
    height: 3px;
}

@keyframes progress {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.progress-settings {
    animation-timing-function: linear;

}

.progress-text {
    font-size: 16px;
    position: absolute;
    right: 0;
    z-index: 2147483647;
    color: white;
    margin: 0 0 0 0;
}

.cancel-button {
    width: 18px;
    margin: 0!important;

}
.right_column .fixed_block {
    padding:0!important;
}


.off-stpd-shts {
    -o-transition: unset!important;
    transition: unset!important;
    -webkit-transform: unset!important;
    -ms-transform: unset!important;
    -o-transform: unset!important;
    transform: unset!important;
    position: static!important;
    overflow: hidden!important;
}

.off-stpd-shts .m-layout__main {
    -o-transition: unset!important;
    transition: unset!important;
    -webkit-transform: unset!important;
    -ms-transform: unset!important;
    -o-transform: unset!important;
    transform: unset!important;
    position: static!important;
}

#adfinity-sticky, .adfinity-sticky{
    z-index: 100000;
}

.d-top-sticky-adfinity {
    width: 100%;
    display: flex;
    justify-content: center;

    z-index: 999999!important;
}

.d-top-ads-adfinity {
    width: 970px;
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
}


.poppup-banner-ads-wrapper {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    background: transparent;
    width: 100%;

    transition: 0.5s ease-in-out;
    flex-direction: column;
    align-items: center;
    z-index:2147483647!important;
}
.poppup-close-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.poppup-banner-ads-arrow {
    width: 44px;
    height: 24px;
    background: #F7F7F7;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #C4C4C4;
    border-radius: 8px 8px 0 0;
    border-bottom: none;
    color: #A0A0A0;
    margin-left: 9px;
    transition: 0.2s ease-in-out;
}
.adfinity-overlay-peretyagka .poppup-banner-ads-arrow {margin-left: 0;}

.poppup-close-text {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    text-align: right;
    color: #A3A2A2;
    display: none;
}

.adfinity-overlay-header {
    width: 100%;
    display: flex;
    justify-content: left;
}
.adfinity-overlay-peretyagka .adfinity-overlay-header {justify-content: center;}

.poppup-banner-ads-content {
    width: 728px;
    height: 90px;
    z-index: 9999;
    background: #f1f1f1;
}

.ad-close-arrow {

}

.mobile-poppup {
    display: inline;
    text-align: center;
    z-index: 9999;
    max-height:100px;
    background: rgba(0,0,0,0.7);
    width: 100% !important;
    border: 1px solid #C4C4C4;
    box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.48);
}

.d-top-sticky-adfinity {
    width: 100%;
    display: flex;
    justify-content: center;

    z-index: 999999!important;
}

.d-top-ads-adfinity {
    width: 970px;
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
}
.poppup-banner-ads-wrapper250 {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    background: transparent;
    width: 100%;

    transition: 0.5s ease-in-out;
    flex-direction: column;
    align-items: center;
    z-index: 999;
}

.poppup-banner-ads-arrow250 {
    background: #d2d1d6;
    border-radius: 6px 6px 0 0;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 25px;
}

.poppup-banner-ads-content250 {
    width: 728px;
    height: 250px;
    z-index: 9999;
    background: #f1f1f1;
}

.ad-close-arrow250 {

}

.mobile-poppup250 {
    z-index: 9999;
    max-height:250px;
    background: transparent;

}

.adfinity-format-wrapper {
    position: fixed;
    height: 100%;
    display: flex;
    z-index:999999!important;
    flex-direction: column;
    justify-content: space-between;
}

.adfinity-top-ads-wrapper {
    height: auto;
    position: fixed;
    z-index: 1000000;
    margin: 0 auto;
    width: 100%;
}


.adfinity-bottom-ads-wrapper {
    position: fixed;
    bottom: 0;
    width: 100%;
}
.adfinity-bottom-ads-header {
    border-top:1px solid #E8E8E8;
    background: white;
    padding: 5px 10px;
}

.vast_sound_btn{
    position: absolute;
    height: 40px;
    width: 40px;
    background: url("./imgs/vast_sound_on.svg") 50% 50% no-repeat;
    opacity: 50%;
    background-size: 40px;
    bottom: 25px;
    left: 25px;
}
.vast_sound_btn:hover{
    opacity: 100%;
}
.vast_sound_btn_off{
    background-image: url("./imgs/vast_sound_off.svg");
}
/*22.11.23*/